.imgScreen {
    z-index: 1;
    margin-top: 60px;
    position: relative;
}

.hero {
    width: 100vw;
    height: 170px;
}

.main {
    width: 100vw;
    height: 80vh;
    background-color: #d53002;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.holder {
    /* margin: 15px; */
    width: 500px;
    height: 300px;
    background-image: url("../../public/boredOutput.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.idea {
  margin-top: -175px;
  margin-left: 30px;
  z-index: 2;
  max-width: 475px;
  font-family: "RobotoMono";
  color: #efe333;

}
.page {
    width: 80vw;
    height: 40vw;
    background-color: #efe333;
    margin: 60px auto;

}

@font-face {
    font-family: "RobotoMono";
    src: url(./fonts/RobotoMono-VF.ttf);
}

.romo {
    font-family: "RobotoMono";
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6rem;
}