.footer {
    background-color: darkslateblue;
    padding: 20px;
    text-align: center;
    height: 180px;
    width: 100vw;
    border-top: lavender 2px double;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    justify-content: space-between;

}
.footerText {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.footerIcons {
    display: flex;
    justify-content: space-evenly;
    width: 800px;

}
.footer p {
    width: 100%;
    font-size: 24px;
    font-family: "Signika";
    color: #efefef;
}
.github {
    width: 120px;
    height: 120px;
    padding-right: 40px;

}

@media screen and (max-width: 700px){
    .footer {
        /* flex-direction: column; */
        height: auto;
    }
    .github {
        width: auto;
        height: 120px;
    }
    .footer p {
        font-size: 18px;
    }
    
}