* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 5px;
  background-color: #272727;
  color: #eeccee;
  /* background-color: #0f292f; */
}

h1, h2, h3, h4, h5, h6, p {
  color: #eeccee;
  font-family: "Signika";
  margin: 12px 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
  background-color: #ffcb9b;
  border-radius: 10px;
  /* padding: 10px; */
  margin: 10px 0px 40px 0px;
}


/* .box p, h1, h2 {
  color: #1f2833;
  font-size: 22px;
  font-family: "Signika";
  text-align: center;
} */


/* .logo {
  padding-top: 14px;
  font-size: 22px;
} */



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */
